@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #0b1220; /* choose the dark color matching your dark theme */
}

/* optional: hide horizontal scrollbar on mobile */
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.hide-scrollbar::-webkit-scrollbar { display: none; }
